@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');
@font-face{
	font-family:"comic"; 
	src:url("../fonts/Comic Boys.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body,html{
	margin: 0;
	padding: 0;
	border:0;
	box-sizing: border-box;
}
.gallery1{
	display: flex;
	justify-content: space-between;
	margin-top:40px;
}
.gallery2{
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.cajacentro{
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
	margin-bottom: 120px;
	
}
.btn-primary{
	background-color: rgba(119,4,233,0.4);
	width:300px; 
	height:60px;
	border: 0px solid #7704E9;
	border-radius: 15px;
	font-family: 'Spicy Rice', cursive;
	font-size: 25px;
	letter-spacing: 5px;
	color: #f3eaea;
}
.btn-primary:hover{
	background-color: #7704E9;
	border: 0px solid #7704E9;
}
/*PÁGINA PRINCIPAL*/

.barraprincipal{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.botonesprincipal a{
	width: 200px;
	height: 70px; 
	margin-top: 50px;
	margin-left: 50px;
	font-size: 20px;
	text-align: center;
	
}
.home{
	margin-top: 60px;
	margin-left: 100px;
	margin-bottom: 80px;
	}
.titulo h1{
	font-family: "comic";
	color: #f3eaea;
	font-size: 100px;
	text-align: center;
	letter-spacing: 10px;

}
.info{
	background-color: rgba(119,4,233,0.2);
	width: 600px;
	height: 380px;
	padding-left: 30px;
	border-radius: 20px;
	margin-left: 180px;
	margin-top: 30px;
	border: 2px solid #7704E9;
}
.info h2{
	font-family: "comic";
	color: #f3eaea;
	font-size:43px;
	letter-spacing: 5px;
}

/*Tercera página*/

.barralateral{
	background-image: url(../images/bg.jpg); 
	background-size: cover;
	min-height: 1000px;
	height: 100%;
	background-attachment: fixed;
}
.caja2{
	background-image: url(../images/morado.jpg);
	background-size: cover;
	text-align: center;
}
select{
	border-radius: 5px;
	width: 150px;
	margin-left: 50px;
	margin-right: 80px;
	border:1px solid black;
	box-shadow: 5px 3px 3px black;
	font-family: "comic";
	font-size: 30px;
	padding-left: 20px;
	letter-spacing: 1px;
}
.botonsigno{
	margin-top: 30px;
}

#respuesta{
  background-image: linear-gradient(to bottom right, rgba(228,100,100,0.5) , rgba(196,196,196,0.3));
  border-radius: 10px;
  width: 650px;
  height: 450px;
  border: 0.5px solid #7704e9;
  margin-left: 180px;
  font-family: "comic";
  color: #F3EAEA;
  font-size: 90px;
  margin-top: 30px;

}

/*Cuarta página*/

.gallery{
	display: flex;
	justify-content: space-evenly;
}
.nombre{
	font-family: "comic";
	color: #7704e9;
	background-image: linear-gradient(to bottom right, rgba(243,234,234,0.8) , rgba(196,196,196,0.1));
	margin-top: 10px;
	width: 130px;
	text-align: center;
	border-radius: 5px;
}
h4{
	font-size: 30px;
	letter-spacing: 5px;
	text-align: center;
}
/* ventana modal*/
.modal{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width:100vh; 
	height:75vh;
	margin-left: 350px;
	margin-top: 100px;
	background-image:url(../images/hombre.jpg); 
	border-radius: 20px;
}
.cajaequis{
	margin-left: 600px;

}
.modal-dialog{
	display: flex;
	flex-direction: column;
}
.modal-content{
	background: transparent;
	background-image: linear-gradient(to bottom right, rgba(228,100,100,0.5) , rgba(196,196,196,0.3));
	border: 0.5px solid #7704e9; 
}
.modal-title{
	font-family: "comic";
	text-align: center;
	color: #F3EAEA;
	font-size: 60px;
	letter-spacing: 6px;
}
.btn-close{
	background: red;

}
.modal-body{
	font-family: "comic";
	text-align: center;
	color: #F3EAEA;
	font-size: 30px;
	letter-spacing: 3px;
	font-weight: 400; 


}
/*CUARTA PÁGINA*/
#respuesta1{
  background-image: linear-gradient(to bottom right, rgba(228,100,100,0.5) , rgba(196,196,196,0.3));
  border-radius: 10px;
  width: 600px;
  height: 350px;
  border: 0.5px solid #7704e9;
  margin-left: 180px;
  font-family: "comic";
  color: #F3EAEA;
  font-size: 38px;
  margin-top: 30px;

}












		


